@tailwind base;
@tailwind components;
@tailwind utilities;

html.light {
  --background: white;
  --foreground-rgb: black;
}

html.dark {
  --background: black;
  --foreground-rgb: white;
}

body {
  color: var(--foreground-rgb);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
